{% extends 'blog/base.html' %}

{% block content %}
  <div class="form-row list-item">
      {% if post.published_date %}
          <div class="item-date">
              {{ post.published_date }}
          </div>
      {% endif %}

      <div>
            <a href="{% url 'post_detail' pk=post.pk %}"><div class="item-title">{{ post.title }}</div></a>
            <div class="action-box"> 
          <a href="{% url 'post_edit' pk=post.pk %}"> <i class="fa fa-pencil icon-action" aria-hidden="true"></i></a>
          <span class="pipe-icon">    |    </span>
          <a href="{% url 'post_delete' pk=post.pk %}"> <i class="fa fa-trash icon-action"aria-hidden="true"></i></a>
        </div>
      </div>

      <p class="item-text">{{ post.text|linebreaksbr }}</p>
  </div>
{% endblock %}